{% if collection.metafields.custom.color_varient == true or collection.all_products_count < 7 %}
  {% assign variantarray = 0 %}
  {% if collection.metafields.custom.is_sale_collection == true %}
    {% for product in collection.products %}
      {% if product.compare_at_price > product.price %}
        {% comment %} {% assign product_colors = product.options_with_values | where: 'name', 'Color' | first %} {% endcomment %}
        {% assign product_colors = null %}
        {% for option in product.options_with_values %}
          {% assign option_name = option.name | downcase %}
          {% if option_name == 'color' %}
            {% assign product_colors = option %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% # assign product_colors = product.options_with_values | where_exp: 'option', 'option.name | downcase == "color"' | first %}
        {% for color in product_colors.values %}
          {% assign color_variants = product.variants | where: 'option1', color | where: 'available', true %}

          {% assign variant_found = false %}
          <!-- Flag to ensure only one variant is selected per color -->
          {% for variant in color_variants %}
            {% if variant.compare_at_price > variant.price %}
              {% assign variantarray = variantarray | plus: 1 %}
              {% assign variant_found = true %}

              <!-- Set the flag to true once a variant is found -->
              {% break %}
              <!-- Break the inner loop once a matching variant is found -->
            {% endif %}
          {% endfor %}

          {% if variant_found %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

  {% else %}
    {% for product in collection.products %}
      {% # assign product_colors = product.options_with_values | where: 'name', 'Color' | first %}

      {% assign product_colors = null %}
      {% for option in product.options_with_values %}
        {% assign option_name = option.name | downcase %}
        {% if option_name == 'color' %}
          {% assign product_colors = option %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% comment %} {{ product_colors | json }} {% endcomment %}
      {%# assign variantarray = variantarray | plus: product_colors.values.size %}
    {% endfor %}
  {% endif %}
{% endif %}
<span style="display: none;">variant-count: {{ variantarray }} Product: {{ collection.products_count }}</span>

{% # render 'mclbx-split-card-count' %}

<div class="collection__toolbar">
  <div class="collection__toolbar-wrapper page-width">
    <div class="toolbar__sort-filter">
      <div class="filter__opener">
        <button filter-opener>
          <span>Filter</span>
          <!--
            <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><line y1="2.5" x2="14" y2="2.5" stroke="currentcolor"></line><circle cx="10" cy="2.5" r="2" fill="currentcolor"></circle><circle cx="4" cy="8.5" r="2" fill="currentcolor"></circle><line y1="8.5" x2="14" y2="8.5" stroke="currentcolor"></line></svg>
          -->
          {% comment %}
            <svg width="16" height="13" viewBox="0 0 16 13" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.75012 2.99996C4.5725 3.69003 3.94608 4.19994 3.20055 4.19994C2.31691 4.19994 1.60059 3.48361 1.60059 2.59997C1.60059 1.71632 2.31691 1 3.20055 1C3.94608 1 4.5725 1.50991 4.75012 2.19998H15.6006C15.8214 2.19998 16.0005 2.37903 16.0005 2.59997C16.0005 2.8209 15.8214 2.99996 15.6006 2.99996H4.75012ZM4.00054 2.59997C4.00054 3.04183 3.64233 3.39995 3.20055 3.39995C2.75877 3.39995 2.40057 3.04175 2.40057 2.59997C2.40057 2.15819 2.75877 1.79998 3.20055 1.79998C3.64233 1.79998 4.00054 2.1581 4.00054 2.59997Z" fill="currentColor"/>
              <path d="M0.399992 3.00006H1.65037C1.61744 2.87224 1.59997 2.73818 1.59997 2.60007C1.59997 2.46195 1.61744 2.32789 1.65037 2.20007H0.399992C0.179059 2.20007 0 2.37913 0 2.60007C0 2.821 0.179059 3.00006 0.399992 3.00006Z" fill="currentColor"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.54957 10.2C9.37195 9.50991 8.74545 9 8.00001 9C7.25456 9 6.62798 9.50991 6.45044 10.2H0.399992C0.179059 10.2 0 10.3791 0 10.6C0 10.8208 0.179059 11 0.399992 11H6.45035C6.62798 11.69 7.25447 12.1999 7.99992 12.1999C8.74537 12.1999 9.37195 11.69 9.54949 11H15.5998C15.8207 11 15.9998 10.8208 15.9998 10.6C15.9998 10.3791 15.8207 10.2 15.5998 10.2H9.54957ZM8.00001 11.4C8.44187 11.4 8.79999 11.0418 8.79999 10.6C8.79999 10.1581 8.44187 9.79998 8.00001 9.79998C7.55814 9.79998 7.20002 10.1581 7.20002 10.6C7.20002 11.0418 7.55814 11.4 8.00001 11.4Z" fill="currentColor"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M14.3496 6.19998C14.1719 5.50991 13.5454 5 12.8 5C12.0545 5 11.428 5.50991 11.2504 6.19998H0.399992C0.179059 6.19998 0 6.37912 0 6.59997C0 6.82082 0.179059 6.99996 0.399992 6.99996H11.2504C11.4281 7.69003 12.0545 8.19994 12.8 8.19994C13.5454 8.19994 14.172 7.69003 14.3496 6.99996H15.5999C15.8208 6.99996 15.9999 6.82082 15.9999 6.59997C15.9999 6.37912 15.8208 6.19998 15.5999 6.19998H14.3496ZM12.8 7.39995C13.2419 7.39995 13.6 7.04183 13.6 6.59997C13.6 6.1581 13.2418 5.79998 12.8 5.79998C12.3581 5.79998 12 6.1581 12 6.59997C12 7.04183 12.3581 7.39995 12.8 7.39995Z" fill="currentColor"/>
              </g>
            </svg>
          {% endcomment %}
          {% comment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M17.6777 8.62294L15.0756 8.21177C14.7188 5.46643 12.5359 3.28668 9.78978 2.93431L9.37682 0.321845C9.34765 0.136459 9.18785 0 8.99977 0C8.8117 0 8.65235 0.136459 8.62273 0.321845L8.20977 2.93566C5.46944 3.29297 3.29289 5.46958 2.93559 8.20998L0.321837 8.62294C0.136455 8.65212 0 8.81192 0 9C0 9.18808 0.136455 9.34743 0.321837 9.37706L2.93424 9.79003C3.28705 12.5367 5.46675 14.7192 8.21157 15.076L8.62273 17.6782C8.6519 17.8635 8.8117 18 8.99977 18C9.18785 18 9.3472 17.8635 9.37682 17.6782L9.78798 15.0774C12.5391 14.725 14.7251 12.539 15.0774 9.78778L17.6782 9.37661C17.8635 9.34743 18 9.18763 18 8.99955C18 8.81147 17.8631 8.65257 17.6777 8.62294ZM14.2847 8.08698L10.5098 7.49042L9.91457 3.72479C12.1387 4.10633 13.8987 5.86369 14.2847 8.08698ZM14.3637 9.00584C14.3637 9.04668 14.3633 9.08753 14.3624 9.12838L10.1166 9.79945C9.95317 9.82549 9.82524 9.95342 9.79921 10.1168L9.12815 14.3627C9.0873 14.3636 9.04646 14.3641 9.00561 14.3641C8.96072 14.3641 8.91629 14.3636 8.8714 14.3623L8.20034 10.1164C8.17431 9.95297 8.04638 9.82504 7.883 9.799L3.64839 9.12973C3.64749 9.08843 3.64659 9.04713 3.64659 9.00539C3.64659 8.96005 3.64704 8.91471 3.64839 8.86938L7.88255 8.2001C8.04593 8.17406 8.17386 8.04613 8.19989 7.88274L8.86915 3.64848C8.91449 3.64713 8.95938 3.64668 9.00516 3.64668C9.04691 3.64668 9.0882 3.64713 9.1295 3.64848L9.79876 7.88319C9.82479 8.04658 9.95272 8.17451 10.1161 8.20055L14.3619 8.87162C14.3633 8.91606 14.3637 8.96095 14.3637 9.00584ZM8.99977 2.82569L9.0092 2.88404C9.00785 2.88404 9.00696 2.88404 9.00561 2.88404C9.00067 2.88404 8.99574 2.88404 8.9908 2.88404L8.99977 2.82569ZM8.08498 3.72658L7.49024 7.48997L3.72694 8.08474C4.11252 5.86683 5.86669 4.11262 8.08498 3.72658ZM2.82562 9L2.88442 8.99057V9.00539V9.00898L2.82562 9ZM3.72469 9.91481L7.49024 10.51L8.08678 14.2851C5.86354 13.8991 4.10623 12.139 3.72469 9.91481ZM8.99977 15.1743L8.99214 15.1272H9.00516H9.00696L8.99977 15.1743ZM9.91232 14.2869L10.5093 10.5096L14.2865 9.91257C13.905 12.1421 12.1418 13.9053 9.91232 14.2869ZM15.1268 9.00763C15.1268 9.00718 15.1268 9.00628 15.1268 9.00584C15.1268 9.00135 15.1268 8.99686 15.1268 8.99282L15.1739 9.00045L15.1268 9.00763Z" fill="black"/>
            </svg>
          {% endcomment %}

          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" id="Layer_1" version="1.1" viewBox="0 0 24 25">
            <!-- Generator: Adobe Illustrator 29.3.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 151)  -->
            <defs>
              <style>
                .st01 {
                  fill: none;
                  stroke: #000;
                  stroke-miterlimit: 10;
                  stroke-width: .8px;
                }

                .st11 {
                  display: none;
                  fill: #ff4040;
                }
              </style>
            </defs>
            <path class="st11" d="M21.6,12.1l-2.9-.5c-.4-3.1-2.8-5.5-5.9-5.9l-.5-2.9c0-.2-.2-.4-.4-.4s-.4.2-.4.4l-.5,2.9c-3,.4-5.5,2.8-5.9,5.9l-2.9.5c-.2,0-.4.2-.4.4s.2.4.4.4l2.9.5c.4,3.1,2.8,5.5,5.9,5.9l.5,2.9c0,.2.2.4.4.4s.4-.2.4-.4l.5-2.9c3.1-.4,5.5-2.8,5.9-5.9l2.9-.5c.2,0,.4-.2.4-.4s-.2-.4-.4-.4ZM17.9,11.5l-4.2-.7-.7-4.2c2.5.4,4.4,2.4,4.9,4.8ZM18,12.5s0,0,0,.1l-4.7.7c-.2,0-.3.2-.4.4l-.7,4.7s0,0-.1,0,0,0-.1,0l-.7-4.7c0-.2-.2-.3-.4-.4l-4.7-.7s0,0,0-.1,0-.1,0-.2l4.7-.7c.2,0,.3-.2.4-.4l.7-4.7c0,0,.1,0,.2,0s0,0,.1,0l.7,4.7c0,.2.2.3.4.4l4.7.7s0,0,0,.1ZM12,5.6h0c0,0,0,0,0,0h0,0ZM11,6.6l-.7,4.2-4.2.7c.4-2.5,2.4-4.4,4.8-4.8ZM5.1,12.5h0s0,0,0,0h0s0,0,0,0ZM6.1,13.5l4.2.7.7,4.2c-2.5-.4-4.4-2.4-4.8-4.9ZM12,19.4h0c0,0,0,0,0,0h0,0ZM13,18.4l.7-4.2,4.2-.7c-.4,2.5-2.4,4.4-4.9,4.9ZM18.8,12.5h0s0,0,0,0h0Z"/>
            <path class="st01" d="M13.3,11.2l8.3,1.2c.1,0,.1.2,0,.2l-8.3,1.2-1.2,8.3c0,.1-.2.1-.2,0l-1.2-8.3-8.3-1.2c-.1,0-.1-.2,0-.2l8.3-1.2,1.2-8.3c0-.1.2-.1.2,0l1.2,8.3Z"/>
          </svg>
        </button>
      </div>
      <div class="custom__sort">
        <div class="custom__sort-wrapper">
          <button sort-opener>
            <span>Sort</span>
            {% comment %}
              <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="3.5" y1="1" x2="3.5" y2="12" stroke="currentcolor"></line><path d="M3.5 0L6.09808 4.5H0.901924L3.5 0Z" fill="currentcolor"></path><path d="M12.5 13L15.0981 8.5H9.90192L12.5 13Z" fill="currentcolor"></path><line x1="12.5" y1="1" x2="12.5" y2="12" stroke="currentcolor"></line>
              </svg>
            {% endcomment %}
            {% comment %}
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <path d="M17.6777 8.62294L15.0756 8.21177C14.7188 5.46643 12.5359 3.28668 9.78978 2.93431L9.37682 0.321845C9.34765 0.136459 9.18785 0 8.99977 0C8.8117 0 8.65235 0.136459 8.62273 0.321845L8.20977 2.93566C5.46944 3.29297 3.29289 5.46958 2.93559 8.20998L0.321837 8.62294C0.136455 8.65212 0 8.81192 0 9C0 9.18808 0.136455 9.34743 0.321837 9.37706L2.93424 9.79003C3.28705 12.5367 5.46675 14.7192 8.21157 15.076L8.62273 17.6782C8.6519 17.8635 8.8117 18 8.99977 18C9.18785 18 9.3472 17.8635 9.37682 17.6782L9.78798 15.0774C12.5391 14.725 14.7251 12.539 15.0774 9.78778L17.6782 9.37661C17.8635 9.34743 18 9.18763 18 8.99955C18 8.81147 17.8631 8.65257 17.6777 8.62294ZM14.2847 8.08698L10.5098 7.49042L9.91457 3.72479C12.1387 4.10633 13.8987 5.86369 14.2847 8.08698ZM14.3637 9.00584C14.3637 9.04668 14.3633 9.08753 14.3624 9.12838L10.1166 9.79945C9.95317 9.82549 9.82524 9.95342 9.79921 10.1168L9.12815 14.3627C9.0873 14.3636 9.04646 14.3641 9.00561 14.3641C8.96072 14.3641 8.91629 14.3636 8.8714 14.3623L8.20034 10.1164C8.17431 9.95297 8.04638 9.82504 7.883 9.799L3.64839 9.12973C3.64749 9.08843 3.64659 9.04713 3.64659 9.00539C3.64659 8.96005 3.64704 8.91471 3.64839 8.86938L7.88255 8.2001C8.04593 8.17406 8.17386 8.04613 8.19989 7.88274L8.86915 3.64848C8.91449 3.64713 8.95938 3.64668 9.00516 3.64668C9.04691 3.64668 9.0882 3.64713 9.1295 3.64848L9.79876 7.88319C9.82479 8.04658 9.95272 8.17451 10.1161 8.20055L14.3619 8.87162C14.3633 8.91606 14.3637 8.96095 14.3637 9.00584ZM8.99977 2.82569L9.0092 2.88404C9.00785 2.88404 9.00696 2.88404 9.00561 2.88404C9.00067 2.88404 8.99574 2.88404 8.9908 2.88404L8.99977 2.82569ZM8.08498 3.72658L7.49024 7.48997L3.72694 8.08474C4.11252 5.86683 5.86669 4.11262 8.08498 3.72658ZM2.82562 9L2.88442 8.99057V9.00539V9.00898L2.82562 9ZM3.72469 9.91481L7.49024 10.51L8.08678 14.2851C5.86354 13.8991 4.10623 12.139 3.72469 9.91481ZM8.99977 15.1743L8.99214 15.1272H9.00516H9.00696L8.99977 15.1743ZM9.91232 14.2869L10.5093 10.5096L14.2865 9.91257C13.905 12.1421 12.1418 13.9053 9.91232 14.2869ZM15.1268 9.00763C15.1268 9.00718 15.1268 9.00628 15.1268 9.00584C15.1268 9.00135 15.1268 8.99686 15.1268 8.99282L15.1739 9.00045L15.1268 9.00763Z" fill="black"/>
              </svg>
            {% endcomment %}

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              id="Layer_1"
              version="1.1"
              viewBox="0 0 24 25"
            >
              <!-- Generator: Adobe Illustrator 29.3.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 151)  -->
              <defs>
                <style>
                  .st02 {
                    fill: none;
                    stroke: #000;
                    stroke-miterlimit: 10;
                    stroke-width: .8px;
                  }

                  .st12 {
                    display: none;
                    fill: #ff4040;
                  }
                </style>
              </defs>
              <path class="st12" d="M21.6,12.1l-2.9-.5c-.4-3.1-2.8-5.5-5.9-5.9l-.5-2.9c0-.2-.2-.4-.4-.4s-.4.2-.4.4l-.5,2.9c-3,.4-5.5,2.8-5.9,5.9l-2.9.5c-.2,0-.4.2-.4.4s.2.4.4.4l2.9.5c.4,3.1,2.8,5.5,5.9,5.9l.5,2.9c0,.2.2.4.4.4s.4-.2.4-.4l.5-2.9c3.1-.4,5.5-2.8,5.9-5.9l2.9-.5c.2,0,.4-.2.4-.4s-.2-.4-.4-.4ZM17.9,11.5l-4.2-.7-.7-4.2c2.5.4,4.4,2.4,4.9,4.8ZM18,12.5s0,0,0,.1l-4.7.7c-.2,0-.3.2-.4.4l-.7,4.7s0,0-.1,0,0,0-.1,0l-.7-4.7c0-.2-.2-.3-.4-.4l-4.7-.7s0,0,0-.1,0-.1,0-.2l4.7-.7c.2,0,.3-.2.4-.4l.7-4.7c0,0,.1,0,.2,0s0,0,.1,0l.7,4.7c0,.2.2.3.4.4l4.7.7s0,0,0,.1ZM12,5.6h0c0,0,0,0,0,0h0,0ZM11,6.6l-.7,4.2-4.2.7c.4-2.5,2.4-4.4,4.8-4.8ZM5.1,12.5h0s0,0,0,0h0s0,0,0,0ZM6.1,13.5l4.2.7.7,4.2c-2.5-.4-4.4-2.4-4.8-4.9ZM12,19.4h0c0,0,0,0,0,0h0,0ZM13,18.4l.7-4.2,4.2-.7c-.4,2.5-2.4,4.4-4.9,4.9ZM18.8,12.5h0s0,0,0,0h0Z"/>
              <path class="st02" d="M13.3,11.2l8.3,1.2c.1,0,.1.2,0,.2l-8.3,1.2-1.2,8.3c0,.1-.2.1-.2,0l-1.2-8.3-8.3-1.2c-.1,0-.1-.2,0-.2l8.3-1.2,1.2-8.3c0-.1.2-.1.2,0l1.2,8.3Z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="product-count-vertical light" role="status">
      
      <h2 class="product-count__text text-body">
        <span id="ProductCountDesktop">
          {%- if collection.results_count -%}
            {{ collection.results_count }} Items
          {%- elsif collection.products_count == collection.all_products_count -%}
            {% comment %} {{ collection.products_count }} Items {% endcomment %}
            {% if variantarray != blank and variantarray > 0 -%}
              {{- variantarray -}} 
            {%- else -%}
              {{- collection.all_products_count -}}
            {%- endif %}
            Items
          {%- else -%}
            {% if variantarray != blank and variantarray > 0 -%}
              {{ variantarray }}
            {%- else -%}
              {{ collection.products_count }}
            {%- endif %}
            Items
          {%- endif -%}
          {% comment %}
            {%- if collection.results_count -%}
              {{
                'templates.search.results_with_count'
                | t: terms: collection.terms, count: collection.results_count
              }}
            {%- elsif collection.products_count == collection.all_products_count -%}
              {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
            {%- else -%}
              {{
                'products.facets.product_count'
                | t: product_count: collection.products_count, count: collection.all_products_count
              }}
            {%- endif -%}
          {% endcomment %}
        </span>
      </h2>
      {%- render 'loading-spinner' -%}
    </div>
  </div>
</div>
