<style>
  .product-faq-{{ id }} {
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
</style>
<div class="product-faq-{{ id }} --unique-faq">
  <div class="product-faq-wrapper">
    {% if product.description != blank %}
      <div class="pr-faq-item">
        <div class="pr-faq-header">
          <h4>Description</h4>
          <span class="faq-icon">
            {% comment %}
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                <path d="M19.6419 10.4714L16.7507 10.0146C16.3542 6.96429 13.9288 4.5424 10.8775 4.15089L10.4187 1.24822C10.3863 1.04224 10.2087 0.890625 9.99975 0.890625C9.79078 0.890625 9.61373 1.04224 9.58081 1.24822L9.12197 4.15239C6.07715 4.54939 3.65876 6.96778 3.26176 10.0126L0.357597 10.4714C0.151617 10.5039 0 10.6814 0 10.8904C0 11.0993 0.151617 11.2764 0.357597 11.3093L3.26027 11.7682C3.65228 14.82 6.07416 17.2448 9.12396 17.6413L9.58081 20.5325C9.61323 20.7385 9.79078 20.8901 9.99975 20.8901C10.2087 20.8901 10.3858 20.7385 10.4187 20.5325L10.8755 17.6428C13.9323 17.2513 16.3612 14.8224 16.7527 11.7657L19.6424 11.3088C19.8484 11.2764 20 11.0988 20 10.8899C20 10.6809 19.8479 10.5044 19.6419 10.4714ZM15.8719 9.87594L11.6775 9.21311L11.0162 5.02917C13.4874 5.4531 15.443 7.40567 15.8719 9.87594ZM15.9597 10.8969C15.9597 10.9422 15.9592 10.9876 15.9582 11.033L11.2406 11.7786C11.0591 11.8076 10.9169 11.9497 10.888 12.1312L10.1424 16.8488C10.097 16.8498 10.0516 16.8503 10.0062 16.8503C9.95636 16.8503 9.90698 16.8498 9.85711 16.8483L9.11149 12.1307C9.08257 11.9492 8.94042 11.8071 8.75888 11.7781L4.05376 11.0345C4.05277 10.9886 4.05177 10.9427 4.05177 10.8964C4.05177 10.846 4.05227 10.7956 4.05376 10.7452L8.75838 10.0016C8.93993 9.97269 9.08207 9.83055 9.11099 9.64901L9.85462 4.94439C9.90499 4.94289 9.95486 4.94239 10.0057 4.94239C10.0521 4.94239 10.098 4.94289 10.1439 4.94439L10.8875 9.64951C10.9164 9.83105 11.0586 9.97319 11.2401 10.0021L15.9577 10.7477C15.9592 10.7971 15.9597 10.847 15.9597 10.8969ZM9.99975 4.0302L10.0102 4.09503C10.0087 4.09503 10.0077 4.09503 10.0062 4.09503C10.0007 4.09503 9.99526 4.09503 9.98978 4.09503L9.99975 4.0302ZM8.98332 5.03117L8.32248 9.21261L4.14104 9.87344C4.56946 7.40917 6.51854 5.46009 8.98332 5.03117ZM3.13957 10.8904L3.20491 10.8799V10.8964V10.9004L3.13957 10.8904ZM4.13855 11.9068L8.32248 12.5681L8.98531 16.7625C6.51505 16.3336 4.56248 14.3781 4.13855 11.9068ZM9.99975 17.7506L9.99127 17.6982H10.0057H10.0077L9.99975 17.7506ZM11.0137 16.7645L11.677 12.5676L15.8739 11.9043C15.45 14.3816 13.4909 16.3406 11.0137 16.7645ZM16.8076 10.8989C16.8076 10.8984 16.8076 10.8974 16.8076 10.8969C16.8076 10.8919 16.8076 10.8869 16.8076 10.8824L16.8599 10.8909L16.8076 10.8989Z" fill="black"/>
              </svg>
            {% endcomment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <g clip-path="url(#clip0_19276_209446)">
              <path d="M11.9989 10.6615L18.7164 5.64106C18.7871 5.57035 18.9286 5.71178 18.8579 5.78249L13.8374 12.5L18.8579 19.2175C18.9286 19.2882 18.7871 19.4296 18.7164 19.3589L11.9989 14.3385L5.28141 19.3589C5.2107 19.4296 5.06928 19.2882 5.13999 19.2175L10.1604 12.5L5.13999 5.78249C5.06928 5.71178 5.2107 5.57035 5.28141 5.64106L11.9989 10.6615Z" stroke="#1F2937" stroke-width="0.8" stroke-miterlimit="10"/>
              </g>
              <defs>
              <clipPath id="clip0_19276_209446">
              <rect width="24" height="25" fill="white"/>
              </clipPath>
              </defs>
            </svg>
          </span>
        </div>
        <div class="pr-faq-content">
          {% if product.metafields.custom.description_romance_copy.value != blank %}
            <div class="pr-faq-content__wrap">
              {{ product.metafields.custom.description_romance_copy.value }}
            </div>

          {% else %}
            {{ product.description }}
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if product.metafields.custom.feature_performance_attribute != blank %}
      <div class="pr-faq-item">
        <div class="pr-faq-header">
          <h4>Key Features</h4>
          <span class="faq-icon">
            {% comment %}
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                <path d="M19.6419 10.4714L16.7507 10.0146C16.3542 6.96429 13.9288 4.5424 10.8775 4.15089L10.4187 1.24822C10.3863 1.04224 10.2087 0.890625 9.99975 0.890625C9.79078 0.890625 9.61373 1.04224 9.58081 1.24822L9.12197 4.15239C6.07715 4.54939 3.65876 6.96778 3.26176 10.0126L0.357597 10.4714C0.151617 10.5039 0 10.6814 0 10.8904C0 11.0993 0.151617 11.2764 0.357597 11.3093L3.26027 11.7682C3.65228 14.82 6.07416 17.2448 9.12396 17.6413L9.58081 20.5325C9.61323 20.7385 9.79078 20.8901 9.99975 20.8901C10.2087 20.8901 10.3858 20.7385 10.4187 20.5325L10.8755 17.6428C13.9323 17.2513 16.3612 14.8224 16.7527 11.7657L19.6424 11.3088C19.8484 11.2764 20 11.0988 20 10.8899C20 10.6809 19.8479 10.5044 19.6419 10.4714ZM15.8719 9.87594L11.6775 9.21311L11.0162 5.02917C13.4874 5.4531 15.443 7.40567 15.8719 9.87594ZM15.9597 10.8969C15.9597 10.9422 15.9592 10.9876 15.9582 11.033L11.2406 11.7786C11.0591 11.8076 10.9169 11.9497 10.888 12.1312L10.1424 16.8488C10.097 16.8498 10.0516 16.8503 10.0062 16.8503C9.95636 16.8503 9.90698 16.8498 9.85711 16.8483L9.11149 12.1307C9.08257 11.9492 8.94042 11.8071 8.75888 11.7781L4.05376 11.0345C4.05277 10.9886 4.05177 10.9427 4.05177 10.8964C4.05177 10.846 4.05227 10.7956 4.05376 10.7452L8.75838 10.0016C8.93993 9.97269 9.08207 9.83055 9.11099 9.64901L9.85462 4.94439C9.90499 4.94289 9.95486 4.94239 10.0057 4.94239C10.0521 4.94239 10.098 4.94289 10.1439 4.94439L10.8875 9.64951C10.9164 9.83105 11.0586 9.97319 11.2401 10.0021L15.9577 10.7477C15.9592 10.7971 15.9597 10.847 15.9597 10.8969ZM9.99975 4.0302L10.0102 4.09503C10.0087 4.09503 10.0077 4.09503 10.0062 4.09503C10.0007 4.09503 9.99526 4.09503 9.98978 4.09503L9.99975 4.0302ZM8.98332 5.03117L8.32248 9.21261L4.14104 9.87344C4.56946 7.40917 6.51854 5.46009 8.98332 5.03117ZM3.13957 10.8904L3.20491 10.8799V10.8964V10.9004L3.13957 10.8904ZM4.13855 11.9068L8.32248 12.5681L8.98531 16.7625C6.51505 16.3336 4.56248 14.3781 4.13855 11.9068ZM9.99975 17.7506L9.99127 17.6982H10.0057H10.0077L9.99975 17.7506ZM11.0137 16.7645L11.677 12.5676L15.8739 11.9043C15.45 14.3816 13.4909 16.3406 11.0137 16.7645ZM16.8076 10.8989C16.8076 10.8984 16.8076 10.8974 16.8076 10.8969C16.8076 10.8919 16.8076 10.8869 16.8076 10.8824L16.8599 10.8909L16.8076 10.8989Z" fill="black"/>
              </svg>
            {% endcomment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <g clip-path="url(#clip0_19276_209446)">
              <path d="M11.9989 10.6615L18.7164 5.64106C18.7871 5.57035 18.9286 5.71178 18.8579 5.78249L13.8374 12.5L18.8579 19.2175C18.9286 19.2882 18.7871 19.4296 18.7164 19.3589L11.9989 14.3385L5.28141 19.3589C5.2107 19.4296 5.06928 19.2882 5.13999 19.2175L10.1604 12.5L5.13999 5.78249C5.06928 5.71178 5.2107 5.57035 5.28141 5.64106L11.9989 10.6615Z" stroke="#1F2937" stroke-width="0.8" stroke-miterlimit="10"/>
              </g>
              <defs>
              <clipPath id="clip0_19276_209446">
              <rect width="24" height="25" fill="white"/>
              </clipPath>
              </defs>
            </svg>
          </span>
        </div>
        <div class="pr-faq-content">
          {% comment %} {{ product.description }} {% endcomment %}
          {% render 'custom-attribute-icons', product: product %}
        </div>
      </div>
    {% endif %}

    {% if product.metafields.custom.bullet_points != blank %}
      <div class="pr-faq-item">
        <div class="pr-faq-header">
          <h4>Fabric & Fit</h4>
          <span class="faq-icon">
            {% comment %}
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                <path d="M19.6419 10.4714L16.7507 10.0146C16.3542 6.96429 13.9288 4.5424 10.8775 4.15089L10.4187 1.24822C10.3863 1.04224 10.2087 0.890625 9.99975 0.890625C9.79078 0.890625 9.61373 1.04224 9.58081 1.24822L9.12197 4.15239C6.07715 4.54939 3.65876 6.96778 3.26176 10.0126L0.357597 10.4714C0.151617 10.5039 0 10.6814 0 10.8904C0 11.0993 0.151617 11.2764 0.357597 11.3093L3.26027 11.7682C3.65228 14.82 6.07416 17.2448 9.12396 17.6413L9.58081 20.5325C9.61323 20.7385 9.79078 20.8901 9.99975 20.8901C10.2087 20.8901 10.3858 20.7385 10.4187 20.5325L10.8755 17.6428C13.9323 17.2513 16.3612 14.8224 16.7527 11.7657L19.6424 11.3088C19.8484 11.2764 20 11.0988 20 10.8899C20 10.6809 19.8479 10.5044 19.6419 10.4714ZM15.8719 9.87594L11.6775 9.21311L11.0162 5.02917C13.4874 5.4531 15.443 7.40567 15.8719 9.87594ZM15.9597 10.8969C15.9597 10.9422 15.9592 10.9876 15.9582 11.033L11.2406 11.7786C11.0591 11.8076 10.9169 11.9497 10.888 12.1312L10.1424 16.8488C10.097 16.8498 10.0516 16.8503 10.0062 16.8503C9.95636 16.8503 9.90698 16.8498 9.85711 16.8483L9.11149 12.1307C9.08257 11.9492 8.94042 11.8071 8.75888 11.7781L4.05376 11.0345C4.05277 10.9886 4.05177 10.9427 4.05177 10.8964C4.05177 10.846 4.05227 10.7956 4.05376 10.7452L8.75838 10.0016C8.93993 9.97269 9.08207 9.83055 9.11099 9.64901L9.85462 4.94439C9.90499 4.94289 9.95486 4.94239 10.0057 4.94239C10.0521 4.94239 10.098 4.94289 10.1439 4.94439L10.8875 9.64951C10.9164 9.83105 11.0586 9.97319 11.2401 10.0021L15.9577 10.7477C15.9592 10.7971 15.9597 10.847 15.9597 10.8969ZM9.99975 4.0302L10.0102 4.09503C10.0087 4.09503 10.0077 4.09503 10.0062 4.09503C10.0007 4.09503 9.99526 4.09503 9.98978 4.09503L9.99975 4.0302ZM8.98332 5.03117L8.32248 9.21261L4.14104 9.87344C4.56946 7.40917 6.51854 5.46009 8.98332 5.03117ZM3.13957 10.8904L3.20491 10.8799V10.8964V10.9004L3.13957 10.8904ZM4.13855 11.9068L8.32248 12.5681L8.98531 16.7625C6.51505 16.3336 4.56248 14.3781 4.13855 11.9068ZM9.99975 17.7506L9.99127 17.6982H10.0057H10.0077L9.99975 17.7506ZM11.0137 16.7645L11.677 12.5676L15.8739 11.9043C15.45 14.3816 13.4909 16.3406 11.0137 16.7645ZM16.8076 10.8989C16.8076 10.8984 16.8076 10.8974 16.8076 10.8969C16.8076 10.8919 16.8076 10.8869 16.8076 10.8824L16.8599 10.8909L16.8076 10.8989Z" fill="black"/>
              </svg>
            {% endcomment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <g clip-path="url(#clip0_19276_209446)">
              <path d="M11.9989 10.6615L18.7164 5.64106C18.7871 5.57035 18.9286 5.71178 18.8579 5.78249L13.8374 12.5L18.8579 19.2175C18.9286 19.2882 18.7871 19.4296 18.7164 19.3589L11.9989 14.3385L5.28141 19.3589C5.2107 19.4296 5.06928 19.2882 5.13999 19.2175L10.1604 12.5L5.13999 5.78249C5.06928 5.71178 5.2107 5.57035 5.28141 5.64106L11.9989 10.6615Z" stroke="#1F2937" stroke-width="0.8" stroke-miterlimit="10"/>
              </g>
              <defs>
              <clipPath id="clip0_19276_209446">
              <rect width="24" height="25" fill="white"/>
              </clipPath>
              </defs>
            </svg>
          </span>
        </div>
        <div class="pr-faq-content">
          <ul class="pr-faq-content__wrap" style="padding-left: 30px;">
            {% for value in product.metafields.custom.bullet_points.value %}
              <li style="list-style-type: disc;">{{ value }}</li>
            {% endfor %}

            {% comment %} 58% Peruvian Pima cotton, 32% polyester, 10% nylon {% endcomment %}
          </ul>
        </div>
      </div>
    {% endif %}
    {% comment %}
      <div class="pr-faq-item ">
        <div class="pr-faq-header">
          <h4>Details</h4>
          <span class="faq-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
              <path d="M19.6419 10.4714L16.7507 10.0146C16.3542 6.96429 13.9288 4.5424 10.8775 4.15089L10.4187 1.24822C10.3863 1.04224 10.2087 0.890625 9.99975 0.890625C9.79078 0.890625 9.61373 1.04224 9.58081 1.24822L9.12197 4.15239C6.07715 4.54939 3.65876 6.96778 3.26176 10.0126L0.357597 10.4714C0.151617 10.5039 0 10.6814 0 10.8904C0 11.0993 0.151617 11.2764 0.357597 11.3093L3.26027 11.7682C3.65228 14.82 6.07416 17.2448 9.12396 17.6413L9.58081 20.5325C9.61323 20.7385 9.79078 20.8901 9.99975 20.8901C10.2087 20.8901 10.3858 20.7385 10.4187 20.5325L10.8755 17.6428C13.9323 17.2513 16.3612 14.8224 16.7527 11.7657L19.6424 11.3088C19.8484 11.2764 20 11.0988 20 10.8899C20 10.6809 19.8479 10.5044 19.6419 10.4714ZM15.8719 9.87594L11.6775 9.21311L11.0162 5.02917C13.4874 5.4531 15.443 7.40567 15.8719 9.87594ZM15.9597 10.8969C15.9597 10.9422 15.9592 10.9876 15.9582 11.033L11.2406 11.7786C11.0591 11.8076 10.9169 11.9497 10.888 12.1312L10.1424 16.8488C10.097 16.8498 10.0516 16.8503 10.0062 16.8503C9.95636 16.8503 9.90698 16.8498 9.85711 16.8483L9.11149 12.1307C9.08257 11.9492 8.94042 11.8071 8.75888 11.7781L4.05376 11.0345C4.05277 10.9886 4.05177 10.9427 4.05177 10.8964C4.05177 10.846 4.05227 10.7956 4.05376 10.7452L8.75838 10.0016C8.93993 9.97269 9.08207 9.83055 9.11099 9.64901L9.85462 4.94439C9.90499 4.94289 9.95486 4.94239 10.0057 4.94239C10.0521 4.94239 10.098 4.94289 10.1439 4.94439L10.8875 9.64951C10.9164 9.83105 11.0586 9.97319 11.2401 10.0021L15.9577 10.7477C15.9592 10.7971 15.9597 10.847 15.9597 10.8969ZM9.99975 4.0302L10.0102 4.09503C10.0087 4.09503 10.0077 4.09503 10.0062 4.09503C10.0007 4.09503 9.99526 4.09503 9.98978 4.09503L9.99975 4.0302ZM8.98332 5.03117L8.32248 9.21261L4.14104 9.87344C4.56946 7.40917 6.51854 5.46009 8.98332 5.03117ZM3.13957 10.8904L3.20491 10.8799V10.8964V10.9004L3.13957 10.8904ZM4.13855 11.9068L8.32248 12.5681L8.98531 16.7625C6.51505 16.3336 4.56248 14.3781 4.13855 11.9068ZM9.99975 17.7506L9.99127 17.6982H10.0057H10.0077L9.99975 17.7506ZM11.0137 16.7645L11.677 12.5676L15.8739 11.9043C15.45 14.3816 13.4909 16.3406 11.0137 16.7645ZM16.8076 10.8989C16.8076 10.8984 16.8076 10.8974 16.8076 10.8969C16.8076 10.8919 16.8076 10.8869 16.8076 10.8824L16.8599 10.8909L16.8076 10.8989Z" fill="black"/>
              </svg>
          </span>
        </div>
        <div class="pr-faq-content">
          58% Peruvian Pima cotton, 32% polyester, 10% nylon
        </div>
      </div>
    {% endcomment %}
  </div>
</div>
