{% comment %}
  Price snippet:
  - Shows Compare at Price and Regular Price if Compare at Price > Regular Price
  - Otherwise shows Regular Price
{% endcomment %}
<div
  class="price-wrapper"
  data-product-id="{{ product.id }}"
  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
>
  <span class="price-regular">
    {% if product.selected_or_first_available_variant.compare_at_price
        > product.selected_or_first_available_variant.price
    %}
      <span class="price-standard">{{ product.selected_or_first_available_variant.price | money }}</span>
      <span class="price-sale">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>

    {% elsif settings.enable_custom_price == true and product.metafields.custom.exclude_from_custom_pricing != true %}
      {% assign discounted_percentage = 100 | minus: settings.discount_percentage %}
      {% assign discounted_price = product.selected_or_first_available_variant.price
        | times: discounted_percentage
        | divided_by: 100.0
        | money
      %}

      <span class="price-standard">{{ discounted_price }}</span>
      <span class="price-sale">
        {{ product.selected_or_first_available_variant.price | money }}
      </span>
    {% else %}
      <span class="price-standard">{{ product.selected_or_first_available_variant.price | money }}</span>
    {% endif %}
    {% if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price %}
      <div class="saved__money">
        {% assign cap = product.selected_or_first_available_variant.compare_at_price %}
        {% assign saved_money = cap | minus: product.selected_or_first_available_variant.price %}
        {% assign saved = saved_money | times: 100 %}
        {% assign saved_percentage = saved | divided_by: cap %}
        Save {{ saved_percentage | append: '%' }}
      </div>
      {% elsif settings.enable_custom_price == true and product.metafields.custom.exclude_from_custom_pricing != true %}
        <div class="saved__money">
        
        Save {{ settings.discount_percentage | append: '%' }} With Code
      </div>
    {% endif %}
  </span>
  
</div>

{% comment %}
  <div
    class="price-wrapper"
    data-product-id="{{ product.id }}"
    data-variant-id="{{ product.selected_or_first_available_variant.id }}"
  >
    {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price
    %}
      <span class="price price--on-sale">
        <span class="visually-hidden">Regular price</span>
        <span class="price__sale">{{ product.selected_or_first_available_variant.price | money }}</span>
        <span class="visually-hidden">Sale price</span>
        <span class="price__compare">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
      </span>
    {% else %}
      <span class="price">
        <span class="price__regular">{{ product.selected_or_first_available_variant.price | money }}</span>
      </span>
    {% endif %}
  </div>
{% endcomment %}
