{% liquid
  assign id = section.id
%}

<style>
  .sec-{{ id }} {
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
    .sizecharts {
        display: grid;
        gap: 120px;
        @media(max-width: 768px) {
            gap: 48px;
        }
    }    
  }
  .--top-block {
      margin-bottom: var(--Spacing-Container-xxl, 16px);
  }
    .--chart-title {
      color: #000;
      font-family: var(--font-family-Title, Krylon);
      font-style: normal;
      font-weight: 400;
      margin: 0 0 12px;
    }
    p.--chart-content {
        grid-column: 1/2;
        color: #000;
        font-family: var(--font-family-Body, "Neue Plak");
        font-size: 14px;
        line-height: 18px; /* 133.333% */
        margin-block: 8px 0;
      @media(max-width:600px){
        grid-column: 1/-1;
        margin-block: 8px;
      }
    }
    .size__popup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .size__popup-content {
    background: white;
    padding: 15px;
    border-radius: 0;
    max-width: 800px;
    width: 90%;
    max-height: 90vh;
    position: relative;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    @media(max-width: 768px) {
      padding: 15px 12px;
    }
  }

  .size__popup.show {
    opacity: 1;
    visibility: visible;
  }

  .size__popup.show .size__popup-content {
    transform: scale(1);
  }
  .size__popup-header{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 0 0 24px;
    {% comment %} border-bottom: 1px solid var(--Border-Base-main, #D1D5DB); {% endcomment %}
    justify-content: space-between;
  }
  .header__contents h4{
    color: #000;
    font-family: var(--font-family-Title)
    font-size: var(--Font-Size-Heading-H3);
    line-height: var(--Line-Height-Heading-H3); /* 116.667% */
    letter-spacing: 0;
    margin: 0 0  var(--Spacing-Container-xxs);
  }
  .header__contents p{
    color: #000;
    font-family: var(--font-family-Body);
    font-size: 16px;
    line-height: 20px; /* 125% */
    margin: 0;
  }
  #closePopup {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .size__popup.hide {
    {% comment %} opacity: 0;
    visibility: hidden; {% endcomment %}
  }

  .size__popup.hide .size__popup-content {
    {% comment %} transform: scale(0.8); {% endcomment %}
  }
  @media(max-width: 768px) {
    .--measurement-heading.--measurement-row > div {
      font-size: 12px;
    }
    .--measurement-row.--only-values {
      font-size: 12px;
    }
    .--chart-title {
      font-size: 16px;
      grid-column: 1/-1;
      display: flex;
      align-items: flex-end;
    }
    .toggle-label-cm {
      margin-left: 10px !important;
    }
  }

  @media(max-width: 600px) {
    .sec-{{ id }} {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
    }
    .wrapper-{{ id }} {
      max-width: 100%;
      overflow: hidden;
    }   
  }
</style>

<div class="sec-{{ id }}">
  <div class="{% unless section.settings.full_width %}page-width{% endunless %}">
    <div class="wrapper-{{ id }}">
      <div id="size__popup__" class="size__popup__">
        <div class="size__popup-content__">
          <div class="sizecharts">
            {% render 'size-chart-contents-v2', product: product %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Size Guide V2",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": false
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 80
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Size Guide V2"
    }
  ]
}
{% endschema %}
